body {
    font-family: "Roboto", sans-serif;
}

h1,p{
    color: #231651;
}

h2{
    color: #8EA8C3;
}

#color-1 {
    background-color: #231651;
}

#color-2 {
    background-color: #8EA8C3;
}

#color-3 {
    background-color: #CBF7ED;
}

#color-4 {
    background-color: #F5B700;
}

#color-5 {
    background-color: #DC0073;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}