body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    place-items: center;
    color: white;
    background-color: #231651;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 20px;
}

header, nav, main, section, footer {
    grid-column: span 12;
    padding: 10px;
   
}

.menu-toggle{
    margin-top: 15px;
    
}

nav ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0 ;
    margin: 0;
    display: none;
   /*  align-items: center; */
}

nav li {
    margin: 0;
}

nav li a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.hero-image {
    grid-column: span 12;
    background-image: url('/chamber/images/bsas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: transform 0.8s ease, filter 0.8s ease;
    box-shadow: 0 0 8px rgba(245, 183, 0, 0.5);
}

/* .hero-image:hover {
    transform: scale(1.1); 
    filter: saturate(1.5); 
}
 */

main p {
    margin-bottom: 20px;
}

h2{
    color: #8EA8C3;
}

.cta-button {
    grid-column: 4 / span 6; 
    background-color:#DC0073;
    color: #CBF7ED;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.8s ease;
}

.cta-button:hover {
    background-color: #960053; /* Color de fondo al pasar el ratón por encima */
}

section{
    grid-column: span 12;
    color: #8EA8C3;
}

footer {
    text-align: center;
    color: white;
    background-color: #231651;
    padding: 10px; 
}

.footer-container {
    /* Elimina el uso de flex y agrega margen inferior para separar los dos bloques */
    margin-bottom: 10px;
}

/* Estilo para ambas secciones */
.contact-info,
.development-info {
    text-align: left;
    margin-bottom: 10px; /* Ajusta según sea necesario */
}

/* Añade espacio después del borde inferior */
.contact-info h3,
.development-info h3 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Agrega un espacio adicional después del último párrafo para evitar que el borde esté muy cerca del texto */
.contact-info p:last-child,
.development-info p:last-child {
    margin-bottom: 0;
}
