@media (min-width: 768px) {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding: 20px;
    }
    nav {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        grid-column: span 4;
    } 
    
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav li {
        margin: 0 15px;
    }

    .menu a.active {
        font-weight: bold; /* Cambia el estilo del enlace activo */
        color: #DC0073; /* Cambia el color del texto para el enlace activo */
        /* Otros estilos para resaltar el enlace activo */
    }

    .menu-toggle {
        display: none;
    }

    .hero-image:hover {
        transform: scale(1.05);
        filter: saturate(1.5);
        box-shadow: 0 0 8px rgba(245, 183, 0, 0.5);
    }
    
    .message-container {
        margin: 0 auto; /* Para centrar horizontalmente */
    }

    .sidebar {
        grid-column: span 1; /* Ocupa 1 columna */
        
    }

    .image-content {
        grid-column: span 3; /* Ocupa 3 columnas */
    }

    
    
  /*   main,
    section,
    footer {
        grid-column: span 4;
    } */

    .mainContent .image-container:hover img {
        /* Your chosen hover effect styles */
        opacity: 0.8; /* For example, reduce opacity on hover */
        transition: opacity 0.3s ease; /* Smooth transition effect */
        /* Add more hover effect styles as needed */
    }

    .cta-button {
        grid-column: 1 / span 4; /* Ocupa todas las 4 columnas */
        margin: 0 auto; /* Para centrar horizontalmente */
    }

    /* Secciones primera y segunda */
    .first-section,
    .second-section {
        grid-column: span 2; /* Ocupan cada una el 50% del espacio */
    }

    /* Sección final ocupa toda la pantalla */
    .last-section {
        grid-column: span 4; /* Ocupa todas las columnas disponibles */
    }

    footer {
        text-align: center;
        color: white;
        background-color: #24334A;
        padding: 10px;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        
        margin-bottom: 0;
    }

    .contact-info,
    .development-info {
        text-align: left;
        margin-bottom: 10px; 
    }

    .contact-info h3,
    .development-info h3 {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .contact-info p:last-child,
    .development-info p:last-child {
        margin-bottom: 0;
    }

    .contact-info,
    .development-info {
        /* Cambia la orientación a horizontal */
        flex: 1;
    }

    .contact-info {
        margin-right: 10px; /* Agrega espacio entre los elementos */
    }
}

