@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        grid-column: span 12;
    }
    
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav li {
        margin: 0 15px;
    }

    .menu-toggle {
        display: none;
    }

    .hero-image:hover {
        transform: scale(1.05);
        filter: saturate(1.5);
        box-shadow: 0 0 8px rgba(245, 183, 0, 0.5);
    }
    
    .sidebar {
        width: 25%; 
        position: fixed;
        height: 100vh;
        overflow-y: auto;
        top: 50px; 
        max-height: calc(100vh - 50px); 
    }

    .mainContent {
        width: 75%; 
        margin-left: 25%; 
    }
    
    main,
    section,
    footer {
        grid-column: span 12;
    }

    .mainContent .image-container:hover img {
        /* Your chosen hover effect styles */
        opacity: 0.8; /* For example, reduce opacity on hover */
        transition: opacity 0.3s ease; /* Smooth transition effect */
        /* Add more hover effect styles as needed */
    }

    .cta-button {
        grid-column: 4 / span 6;
    }

    .first-section,
    .second-section {
        grid-column: span 6;
    }

    footer {
        text-align: center;
        color: white;
        background-color: #24334A;
        padding: 10px;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        
        margin-bottom: 0;
    }

    .contact-info,
    .development-info {
        text-align: left;
        margin-bottom: 10px; 
    }

    .contact-info h3,
    .development-info h3 {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .contact-info p:last-child,
    .development-info p:last-child {
        margin-bottom: 0;
    }

    .contact-info,
    .development-info {
        /* Cambia la orientación a horizontal */
        flex: 1;
    }

    .contact-info {
        margin-right: 10px; /* Agrega espacio entre los elementos */
    }
}

